ul
{
   text-align: left-side
   font-size: 12pt;
   line-height: 14pt;
}
body
{
	background-color: 
}
body
{
	color: black
	
}
body
{
	margin-right: 30%
}
body
{
	background-image: url("assassin_2.jpg");
	background-size: cover;
}

.center 
{
    text-align: center;
    color: RGB （225，225，225）;
}
#nagisa
{
	Color: lightblue;
}
